* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

/* .box {
  height: 300px;
  width: 300px;
  background-color: crimson;
  border-radius: 10px;
} */

.container {
  padding: 20px;
  border: 3px solid white;
}

.box {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin: 20px;
  background: linear-gradient(to right bottom, rgb(217, 66, 96), crimson);
}

.circle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 20px;
  background: linear-gradient(to right bottom, lightblue, cadetblue);
}

button {
  padding: 20px 100px;
  border-radius: 50px;
  background: linear-gradient(lightseagreen, seagreen);
  border: none;
  color: #000;
  font-size: 25px;
  font-weight: 600;
}

button:active {
  scale: 0.96;
}

img {
  height: 200px;
}
